.col1,.col2 ,.col3/*.movie-pages*/{
  /*height:50%;*/
  /*width:100%;*/
  /*background-color:whitesmoke;*/
  /*background-size: cover;*/\
  position: relative;
  margin-top: 20px;
}


.movies{
  height: 100%;
  width:100%;
  background-color: grey;
}

.movie-links{
  height: 100%;
  width: 100%;
}

.columns{
  height: 100%;
  width: 100%;
  background: #91a09c;
}

.movie-links h1{
  font-family:"Open Sans",sans-serif;
  font-weight: 600;
  color: whitesmoke;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding-top: 25px;
}
.movie-links a{
  text-decoration: none;
}
