
/*========================================== columns begining ==================================================*/

.col1,.col2 ,.col3/*.movie-pages*/{
  /*height:50%;*/
  /*width:100%;*/
  /*background-color:whitesmoke;*/
  /*background-size: cover;*/\
  /*position: relative;*/
  margin-top: 20px;
}

/*.index_movies{*/
  /*height: 100%;*/
  /*width:100%;*/
  /*background-color: grey;*/
/*}*/
.movies{
  height: 100%;
  width:100%;
  background-color: grey;
}

.movie-links{
  padding-right: 10px;
  height: 100%;
  border: 1px solid #E2E2E2;
  /* width: 100%; */
}

.columns{
  height: 100%;
  /*width: 100%;*/
  background: #f1f1f1;
}

.movie-links h1{
  font-family:"Open Sans",sans-serif;
  font-weight: 600;
  color: whitesmoke;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding-top: 25px;
}
.movie-links a{
  text-decoration: none;
}


/*========================================== columns ending ==================================================*/

/*============================================ style begining =================================================*/

html,body {
  height: 100%;
  font-family: 'Open Sans',sans-serif;
}

/*
==navbar
*/

nav {
  background-color:#898b93;
  position: fixed;
  width: 100%;
}

.icon{
  /*color:#1d9eb3;*/
  color:whitesmoke;
  /*font-size: 23px;*/
}

.icon:hover{
  color:#f17272;
}
.navbar-header {
  text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    font-size: 25px;
    color: whitesmoke;
    font-weight: 700;
    float: left;
    padding-left: 42px;
    padding-top: 11px;
    text-transform: uppercase;
    /*border: 2px solid whitesmoke;*/
}
.navbar-header:hover{
  color: #0c560c;
}

 nav li:hover{
/*color: #1d9eb3;*/
color: black;
}


nav ul li{
  display: inline-block;
  padding: 40px 20px;
  color: whitesmoke;
  font-weight: 600;
  text-transform: uppercase;
}

/*
==endofnavbar
*/

nav ul {
  float: right;
  padding-right: 60px;
  margin-top: -50px;
}

/*
== Hero Unit
*/
.movies .herounit {
  /*background: black;*/
  height: 100%;
  width: 100%;
  background-image: url('../img/Hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  /*opacity: 0.9;*/
  /*z-index: 1001;*/
}
.herounit img{
  margin-top: 40px;
}
/*
==End Hero Unit
*/

.opening_line{
 margin-top: 30px;
}

.opening_line p{
font-size: 35px;
font-style: italic;
text-align: center;
font-weight: 400;
font-family: "open sans";
/* border-top: 1px solid #e3e3e3; */
padding-bottom: 25px;
/* color: whitesmoke; */
/* padding-top: 35px;*/
}

.description_head h2{
padding-top: 25px;
font-size: 25px;
font-weight: 600;
font-style: italic;
font-family: "open Sans";
/*color: whitesmoke;*/
letter-spacing: 0.5px;
text-align: justify;
margin-right: 8px;
}

.description_content p{
  padding-top: 18px;
  font-size: 20px;
  font-weight: 500;
  font-family: "open sans";
  /*color: whitesmoke;*/
  letter-spacing: 0.5px;
  text-align: justify;
  margin-right: 8px;
}

.buzz_section{
  height: 100%;
  width: 100%;
  background: grey;
  padding-top: 120px;

}

.movie_week_header p{
  font-size: 35px;
  font-weight: 500;
  font-style: italic;
  color: whitesmoke;
  padding-bottom: 25px;
  padding-left: 9px;
  border-bottom: 1px solid white;
  letter-spacing: 1px;
}

.tweet1,.tweet2,.tweet3,.intro p{
  font-size: 21px;
  /*font-weight: 400;*/
  font-family: 'Open Sans Condensed', sans-serif;
  color: whitesmoke;
}

.tweet1,.tweet2,.tweet3,.intro{
  padding-top: 10px;
  padding-bottom: 25px;
  letter-spacing: 1px;
}

 /*body img{
  border: 0.5px solid black;
}*/

/*============================================ style ending =====================================*/

/*==============================================  movies begining ================================*/

/*.movies,*/.trailors,.tmovies,.bmovies,.hmovies{
  /*height: 100%;*/
  width: 100%;
  background: #e2e2e2;
}

.columns{
  /*height: 100%;*/
  /*width: 100%;*/
  /*border: 1px solid;*/
  /*background: #91a09c;*/
  padding-bottom: 20px
}


/*.col1,.col2,.col3{
  height: 50%;
  color: green;
  display: block;
}*/
/*.sidebar{
  height: 70%;
  background: whitesmoke;
  margin-top: 120px;
}*/

.heading{
  font-size: 30px;
  font-weight: 600;
  margin-top: 90px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-family: "open sans";
  /* border: 2px solid black; */
  /* padding: 10px 3px; */
  /* border-radius: 0px; */
  width: 90%;
}

.bollywood_heading{
  font-size: 30px;
  font-weight: 600;
  margin-top: 83px;
  margin-bottom: 0px;
  font-family: "open sans";
  /* color: whitesmoke; */
  margin-left: 10px;
  /* border: 2px solid black; */
  padding: 10px 3px;
  /* border-radius: 0px; */
  width: 88%;
}

.trailors_heading{
font-size: 30px;
font-weight: 600;
margin-top: 80px;
font-family: "open sans";
/* color: whitesmoke; */
margin-left: 21px;
/* border: 2px solid black; */
padding: 10px 3px;
/* border-radius: 3px; */
width: 94.5%;
}


.bollywood_trailors_heading,.tollywood_trailors_heading{
  font-size: 30px;
    font-weight: 600;
    /*margin-top: 30px;*/
    /*margin-bottom: 10px;*/
    /*color: whitesmoke;*/
    font-family: "open sans";
    margin-left: 21px;
    /*border: 2px solid black;*/
    padding: 10px 3px;
     /*border-radius: 3px;*/
    width: 94.5%;
}


/*.columns img{
  margin-left: 25px;
  border: 1px solid black;
}*/

.columns h3{
font-size: 18px;
margin-top: 10px;
font-weight: 300;
margin-left: 25px;
color: whitesmoke;
text-decoration:underline;;
text-transform: uppercase;
}

.columns a{
  text-decoration: none;
}

.columns a:hover{
  /*position: relative;*/
  opacity: 0.6;
  /*z-index: 1001;*/
}



.row1, .row2, .row3, .row4, .row5, .row6 {
    border: 1px solid #e2e2e2;
    padding-top: 15px;
}

/*.columns iframe{
  border: 2px solid ;
}*/

 .more {
   padding-top: 10px;
   font-size: 25px;
   font-weight:400;
  text-align: center;
  /*text-decoration: underline;*/
  /*color: whitesmoke;*/
}

.more a{
  text-decoration: none;
    color: black;
}
.more:after{
  content: ')'
}


.more:before{
  content: '('
}


/*===============================================movies ending ====================================*/

/*===============================================  footer begining =================================*/

footer{
  height: 10%;
  /*width: 100%;*/
  background-color: #e3e3e3;
  border: 1px solid #f1f1f1;
  margin-top: 10px;
}
.links{
  font-size: 35px;
  padding-top: 10px ;
}
footer .text{
  padding-top: 20px;
  width: 30%;
  font-size: 20px;
  font-weight: 300;
  font-family: "open sans";
  /*color: whitesmoke;*/
}
.links  a{
  text-decoration: none;
  color: black;
 /*border: 1px solid whitesmoke;*/
}

.footer{
  margin-top: 5px
}

.fb a:hover{
  color: #3B5998;
}
.twitter a:hover{
  color: skyblue;
}
.gplus a:hover{
  color: red;
}

/*footer{
  border: 1px solid whitesmoke;
}*/

/*====================================================== footer ending ================================*/

/*======================================================= login begining ================================*/

.forms{
  /*height: 100%;*/
  background: #e3e3e3;
  padding:90px 0px;
  border: 1px solid black;
  border-radius: 3px;
}

.login_page_header p{
font-size: 25px;
font-weight: 300;
/*color: whitesmoke;*/
padding-bottom: 30px;
text-align: center;
}

.sign_up_form,.login_form {
  /*width: 40%;*/
  /*height: 70%;*/
  border: 1px solid black;
  padding: 10px 10px;
  border-radius: 8px;
  /*margin-top: 150px;*/
}
.login_form a{
  text-decoration: none;
  color: #0e1867;
  font-size: 15px;
}

.login_form a:hover{
  text-decoration: underline;
  color: #f17272;
}

.forms li{
list-style: none;
margin-bottom: 20px;
}

.forms ul{
  padding-left:15px;
}

legend{
font-size: 25px;
font-family: "open sans",sans-serif;
font-weight: 500;
/*text-decoration: underline;*/
padding-left: 15px;
/*color: whitesmoke;*/
}

.forms input{
width: 250px;
height: 30px;
}

.submit{
  background:#127729;
  color: whitesmoke;
  border: none;
}

.submit:hover{
  background:#0c560c;
  color: white;
}
.sign_up_form p{
  font-size: 12px;
width: 250px;
font-family: "open sans";
color: red;
font-weight: 600;
  }


/*====================================================== login ending =====================================*/
